/*@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
html{
    font-family: 'Libre Baskerville', serif;
}*/

*{
    font-family: "Segoe UI";
}

.padding-top {
    padding-top: 300px;
}

.padding-top-registraition{
    padding-top: 200px;
}

.padding-right{
    margin-right: 400px;
}

.left-menu__item{
    margin-left: 50px;
    color: #ffffff;
}

.right-menu__item{
    margin-right: 40px;
}

.left-menu__item, .right-menu__item a{
    font-size: 20px;
}
