/*@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
html{
    font-family: 'Libre Baskerville', serif;
}*/

*{
    font-family: "Segoe UI";
}

.padding-top {
    padding-top: 300px;
}

.padding-right{
    margin-right: 400px;
}

.menu__item_left{
    margin-left: 50px;
    color: #ffffff;
}

.menu__item_right{
    margin-right: 40px;
}

.menu__item_left, .menu__item_right a{
    font-size: 20px;
}
